.homeIcon{
    max-width: 20px;
    max-height: 20px;
}

.toolsPic {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

footer {
  color: black;
  text-align: center; 
  font-size: 1em;
  padding: 10px;
  border-top: 1px solid; 
}

.carousel-control {
  top: 38%;
  border: 0;
}

.carousel-control.left {
  background: transparent;
}

.carousel-control.right {
  background: transparent;
}